name: 02 - workflow-events.yaml


on: [push ,pull_request]


jobs:
  echo-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Show the trigger
        run: echo "Show the trigger"
  pf_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo The PR was merged