name: 13 - Using Caching

on:
    workflow_dispatch:      
         inputs:
            use-cache:
                type: boolean
                description: "Use cache or not"
                default: true
            node-version:
                type: choice
                description: "Node version"
                options:
                   - 18.x
                   - 20.x
                   - 25.x
                default: 25.x

jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: 13-caching/my-react-app
        steps:
            - name: checkout code
              uses: actions/checkout@v4
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                node-version: ${{ inputs.node-version }}
            - name: Install dependencies
              run: npm ci
            - name: Testing
              run: npm run test
            - name: Building
              run: npm run build
            - name: Deploy to non-production
              run: echo "Deploying to non-production environment"
